*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about{
    height: 100vh;
    width: 100%;
}
#about p{
    width:50% !important;
}


@media (max-width: 576px) {
    #about p{
    width:100% !important;
    }
}
